<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <title>Reservado</title>
      <link href="/styles/style.css" rel="stylesheet">
      <script src="/scripts/validator.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
   </head>
   <body>
      <div id="main">
         {% block main %}
         {% endblock %}
      </div>
   </body>
</html>
