{% extends 'base.html' %} 
{% block main %}
   
   <a href="/"> 
      <img alt="cerrar" class="BtnBack" src="/images/Icon_Close.svg">
   </a>
   
   <div id="ContenidoConfirmacion">
      <img alt="Palomita" class="Icon_Success" src="/images/Icon_Success.svg">
      <p class="TituloSecundario" id="Leyenda">Solicitud realizada con éxito</p>
   </div>

{% endblock %}
