{% extends 'base.html' %} 
{% block main %}
   <div id="TituloDeVista">
      <div class="TituloPrincipal">
        Laboratorios 
      </div>
      <div class="TituloSecundario">
         {{ fecha }}
      </div>
   </div>
   
   <div id="Contenido">
      {% for lab in labDisponibles %}
      <div class="Tarjeta">
         <div class="Contenido_Tarjeta">
            <div class="TituloContenidoPrincipal">
               {{ lab.nombre }} 
            </div>
            <div class="TituloContenidoSecundario">
               {{ lab.numero }} 
            </div>
         </div>
         <a href="/vistaLab?labNombre={{ lab.nombre }}&amp;labNumero={{ lab.numero }}"> 
            <img alt="Seleccionar" class="BtnTarjeta" src="/images/Icon_Next.svg">
         </a>
      </div>
      {% endfor %}
   </div>
{% endblock %}
