{% extends 'base.html' %} 
{% block main %}
   <div id="TituloDeVista">
      <div class="TituloPrincipal">
        Laboratorios 
      </div>
      <div class="TituloSecundario">
         {{ fecha }}
      </div>
   </div>
      <p class="TituloSecundario" id="Leyenda">No hay laboratorios disponibles en este momento</p> 
   <div id="Contenido">
   </div>
{% endblock %}
