{% extends 'base.html' %} 
{% block main %}
   
   <a href="/"> 
      <img alt="Back" class="BtnBack" src="/images/Icon_Back.svg">
   </a>
   <div id="TituloDeBarra">
      <div class="TituloPrincipal">
         {{ lab.nombre }} 
      </div>
      <div class="TituloSecundario">
         {{ lab.numero }}
      </div>
   </div>
   
   <div id="Contenido">
      <form action="/confirmacion" onsubmit="return validar(this)">
         <div id="Formulario">
            <input type="text" id="nombreEstudiante" name="nombreEstudiante"
               class="TituloSecundario CapturaDatos" onchange="habilitarSubmit(this)">
            <label for="nombreEstudiante" class="Etiqueta">Nombre</label>
            <input type="text" id="boletaEstudiante" name="boletaEstudiante"
               class="TituloSecundario CapturaDatos" onchange="habilitarSubmit(this)">
            <label for="nombreEstudiante" class="Etiqueta">Boleta</label>
            <select  id="materiaEstudiante" 
                  name="materiaEstudiante"class="TituloSecundario CapturaDatos">
               {% for materia in materias %}
               <option value="{{ materia }}">{{ materia }}</option>
               {% endfor %}
            </select>
            <label for="nombreEstudiante" class="Etiqueta">Materia</label>
         </div>
         <input disabled type="submit" id="btnSolicitar" class="TituloContenidoPrincipal" 
               value="Solicitar">
      </form>
   </div>

{% endblock %}
