#btnSolicitar{
   border: none;
   text-decoration: none;
   position: absolute;
   align-items: center;
   justify-content: center;
   text-align:center;
   background: var(--accent);
   color: var(--dark);
   margin: 0px;
   bottom: 0px;
   width: 100%;
   height: 4rem;
   max-width: 440px;
}

#btnSolicitar:disabled {
  background: var(--white);
}


.BtnBack{
   margin: 8px 0px 0px 8px;
}

.TituloContenidoPrincipal{
   font-size: 2rem;
   line-height: 2.2rem;
}

