@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
   font-family: 'Poppins', sans-serif;
   font-size: 1em;
}

.TituloContenidoPrincipal{
   font-size: 2rem;
   line-height: 2.2rem;
}

.TituloPrincipal{
   font-size: 3rem;
   line-height: 3.2rem;
}

.TituloSecundario{
   color: var(--accent);
   font-size: 1.2rem;
   line-height: 1.4rem;
   font-weight: 600;
}

#Leyenda{
   color: var(--white);
   text-align: center;
}
