#Formulario{
   padding: 0 5% 0 5%;
}

.CapturaDatos{
   color: var(--dark);
   height: 2.5rem;
   width: 90%;
   border: 0;
   border-radius: 100px;
   padding: 0px 0px 0px 19px;
}

.Etiqueta{
   margin: 0 0 24px 0;
}

input{
   display: inline-block;
}

label{
   display: inline-block;
   width: 95%;
   right-margin: 5%;
   text-align: right;
}

select{
   width:100%;
   display: inline-block;
   -webkit-appearance: none;
   -moz-appearance: none;
   text-indent: 1px;
   text-overflow: '';
}
