@import "colors.css";
@import "fonts.css";
@import "tarjeta.css";
@import "titulo.css";
@import "btn.css";
@import "formulario.css";
@import "image.css";

html{
   margin: 0px;
}

body{
   margin: 0px;
}

#main{
   margin: auto;
   max-width: 440px;
}

#ContenidoConfirmacion{
   width: 80%;
   margin: 0 auto;
   margin-top: 120px;
   text-align: center;
}
