.Tarjeta{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: var(--white);
   color: var(--dark);
   margin: 16px;
   padding: 4px 16px 4px 16px;
   border-radius: 25px;
}

.Contenido_Tarjeta{
}

.TituloContenidoPrincipal{
   font-size: 2rem;
   line-height: 2.2rem;
}
